@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    padding: 0;
    background: #1E1F2F;
    font-family: Oswald, sans-serif;
}

.container{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 10px
}

.box{
    width:300px;
    height:300px;
}

#white{
    background-color: #ffffff;
    position: absolute;
    width: 31.06px;
    height: 27.42px;
    left: 130px;
    top: 130px;
}
#red{
    background-color: #E82C4F;
    position: absolute;
    width: 60.47px;
    height: 68.55px;
    left: 161.07px;
    top: 157px;
}
.whitebox{
    border-style:solid;
    border-width: 25px;
    border-color: #ffffff;
    height: 62px;
    width: 62px;
    position: absolute;
    left: 1094px;
    top: 270px;
}
.greybox{
    border-style:solid;
    border-width: 60px;
    border-bottom-width: 0px;
    border-color: #2D2F48;
    height: 400px;
    width: 350px;
    position: absolute;
    left: 710px;
    top: 295px;
}
.lightGreyBox{
    border-style:solid;
    border-bottom-width: 60px;
    border-left-width: 60px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-color:#48596D;
    height: 296px;
    width: 350px;
    position: absolute;
    left: 1119px;
    top: 0px;   
}
.redbox{
    border-style:solid;
    border-width: 40px;
    border-color:#E82C4F;
    height: 150px;
    width: 150px;
    position: absolute;
    left: 1035px;
    top: 212px;
}
.smallBlue{
    border-style:solid;
    border-width: 25px;
    border-color:#3256A1;
    height: 62px;
    width: 62px;
    position: absolute;
    left: 970px;
    top: 500px;
}
.whiteCircle{
    border-style:solid;
    border-width: 25px;
    border-color:#ffffff;
    height: 62px;
    width: 62px;
    position: absolute;
    left: 1220px;
    top: 500px;
    border-radius: 100px;
}
.bigWhite{
    border-style:solid;
    border-width: 70px;
    border-color:#ffffff;
    height: 460px;
    width: 400px;
    position: absolute;
    left: 880px;
    top: 110px;
}

.red{
    color:white;
    font-size: 60px;
    position: absolute;
    width: 60.47px;
    height: 68.55px;
    left: 175.07px;
    top: 145px;
}

.warmups{
    text-transform: uppercase;
    color: white;
    font-size: 80px;
    position: absolute;
    left: 250px;
    top: 127px;
}

.loremIpsum{
    text-transform: uppercase;
    color: white;
    font-size: 100px;
    font-weight: 600;
    position: absolute;
    left: 250px;
    top: 260px;
}

.nequePorro{
    text-transform: uppercase;
    color: white;
    font-size: 100px;
    font-weight: 600;
    position: absolute;
    left: 250px;
    top: 355px;
}

.max{
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    left: 250px;
    top: 600px; 
}

.imgperson{
    position: absolute;
    left: 200px;
    top: 605px; 
}

.min{
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    left: 605px;
    top: 600px; 
}

.imgtime{
    position: absolute;
    left: 550px;
    top: 605px; 
}